/* FOR DICE GAME */

body {
  background-color: #393E46;
  margin-top: 80px;
  touch-action: manipulation;
}

h1 {
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 5.8rem;
  color: #f711fe;
}

p {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 80%;
}


.main {
border: 4px solid rgb(255, 255, 255);
box-shadow: 0 0 10px 5px rgb(0, 0, 0);
padding-bottom: 20px;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
  touch-action: manipulation;
}

.dice {
  text-align: center;
  display: inline-block;

}


.clickme {
  display: block;
  margin: auto;
  margin-top: 30px;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat',bold;
  padding: 5px 10px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  -webkit-animation: both;
  
}

.clickme:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.clickme:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.clickme:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
 -webkit-transform: translateY(2px);
  transform: translateY(2px);

}

footer {
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower';
  margin-top: 100px;

}






/* FOR CALCULATOR */

.h1-C {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  margin: 80px 0 50px;
  padding-top: 80px;
  
}
.container-C {
  background-color: #fff;
  width: 270px;
  margin: 10px auto;
  box-shadow: 0px 0px 20px 10px rgb(18, 17, 17);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
  touch-action: manipulation;
 

}

.result {
  height: 80px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0.5rem;
}

.result-text {
  font-size: 25px;
  padding: 25px 0;
  text-align: right;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  padding: 2px;
  cursor: pointer;
  touch-action: manipulation;
}

.button-C {
  display: block;
  font-size: 25px;
  border: 1px solid black;
  cursor: pointer;
  padding: 7px;
  margin: 3px;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-C:hover {
  background-color: rgb(219, 213, 213);
  -webkit-animation: both;
}

.button-C:active {
  background-color: rgba(30, 30, 254, 0.975);
  color: #fff;
  -webkit-animation: both;
}



/* MEDIA QUERIES */

@media (max-width: 523px) {
  h1 {
    font-size: 2.3rem;
  }

  .container {
    width: 100%;
    padding-top: 20px;
  }

  .dice {
    display: inline-block;
    width: 49%;
    padding-bottom: 50px;
  }

  .clickme {
    margin-top: 10px;
  }

  footer {
    margin-top: 140px;
  }
}

@media (max-width: 587px) and (min-width: 523px) {
  h1 {
    font-size: 3.5rem;
  }

  .dice {
    display: inline-block;
    width: 49%;
    padding-bottom: 50px;
  }

  .container {
    padding-top: 20px;
  }

  .clickme {
    margin-top: 10px;
  }

  footer {
    margin-top: 10px;
  }
}


@media (max-width: 750px) and (min-width: 587px) {
  h1 {
    font-size: 4rem;
  }

  .container {
    width: 100%;
  }

  footer {
    margin-top: 80px;
  }

  .clickme {
    margin-top: 20px;
  }

}

@media (max-width: 960px) and (min-width: 750px) {
  h1 {
    font-size: 4rem;
  }

}

@media (max-width: 1200px) and (min-width: 960px) {
  h1 {
    font-size: 4.5rem;
  }

  .clickme {
    margin-top: 40px;
  }

  footer {
    margin-top: 7%;
  }
}
